
<div class="p-10"> 
    <div class="flex justify-between items-center">
    <h1 class="font-semibold text-2xl">All Students</h1>
    <a [routerLink]="'/student/form'" class="bg-blue-500 text-white rounded-md px-5 py-1">Add New</a>
    </div> 
    <div class="grid grid-cols-3 gap-5">  

       @for (item of (students$ | async); track item) 
       {

        <div class="card-wr">

                    <div class="card-wrapper">
                        <div class="left-side">
                            <div class="bg-blue-500 rounded-full p-5 w-10 h-10 flex justify-center items-center text-white font-bold">
                                <!-- {{item.name[0].toUpperCase()}} --> V
                        </div>   
                        </div>
                        <div class="card-main">
                            <div class="name-wr"></div>
                            <div class="email-wr">
                                <div class="email-icon"></div>
                                <div class="email-text"></div>
                            </div>

                            <div class="phone-wr">
                                <div class="phone-icon"></div>
                                <div class="phone-text"></div>
                            </div>


                        </div>
                        <div class="right-side">
                        
                                <a class="bg-blue-600 rounded-full p-5 w-10 h-10 flex justify-center items-center text-white hover:bg-blue-400"></a>
                                <a class="bg-blue-600 rounded-full p-5 w-10 h-10 flex justify-center items-center text-white hover:bg-blue-400"></a>


                        </div>
                </div>
        </div>
        }
    </div>
    </div>